<div class="nav-container">
  <div class="nav-content">
    <div class="nav-logo" routerLink="/" style="cursor: pointer">
      <img src="/assets/Logo.png"  alt="">
    </div>
    <div class="nav-menu">
      <ul>
        <li (click)="openMacMenu()">Mac</li>
        <li (click)="openIpadMenu()">iPad</li>
        <li (click)="openIphoneMenu()">iPhone</li>
        <li routerLink="/iphone">Oprema</li>
        <li routerLink="/service">Servis</li>
        <li routerLink="/contact">Podrska</li>
      </ul>
    </div>
    
    <div class="cart-profile">
      <i class=""></i>
    </div>
  </div>
</div>

<div class="submenu"
     [@openCloseAnimation]="submenu ? 'open' : 'closed'">
  <div class="submenu-content">
    <ng-container [ngSwitch]="menu">
      <ng-template [ngSwitchCase]="'MacMenu'">
        <div class="macs"
             *ngFor="let mac of mecMenu"
             [routerLink]="mac.router">
          <img
            width="165"
            height="145"
            [src]="mac.image">
          
          <div class="title">
            {{ mac.name }}
          </div>
        </div>
      </ng-template>
  
      <ng-template [ngSwitchCase]="'IphoneMenu'">
        <div class="macs"
             *ngFor="let iphone of iphoneMenu"
             [routerLink]="iphone.route">
          <img
            width="165"
            height="145"
            [src]="iphone.image">
    
          <div class="title">
            {{ iphone.name }}
          </div>
        </div>
      </ng-template>
  
      <ng-template [ngSwitchCase]="'IpadMenu'">
        <div class="macs"
             *ngFor="let ipad of ipadMenu"
             [routerLink]="ipad.route">
          <img
            width="165"
            height="145"
            [src]="ipad.image">
      
          <div class="title">
            {{ ipad.name }}
          </div>
        </div>
      </ng-template>
    </ng-container>
  
    <div class="close"
         (click)="submenu = false">
      <mat-icon>
        close
      </mat-icon>
    </div>
  </div>
</div>
