<div class="nav-container">
  <div class="nav-content">
    <div class="nav-logo"
         routerLink="/"
         style="cursor: pointer">
      <img alt=""
           src="/assets/Logo.png">
    </div>
    <div class="nav-menu">
      <ul>
        <li (click)="openMacMenu()">Mac</li>
        <li (click)="openIpadMenu()">iPad</li>
        <li (click)="openIphoneMenu()">iPhone</li>
        <li routerLink="/equipment">Oprema</li>
        <li routerLink="/service">Servis</li>
        <li routerLink="/contact">Podrska</li>
        <li (click)="openIwatchMenu()">iWatch</li>
        <li (click)="openImusicMenu()">iMusic</li>
        <li routerLink="/cart">
          <mat-icon>shopping_bag</mat-icon>
          <div class="badge"> {{ numberOfItemsInLocalStorage() }}</div>
        </li>
      </ul>
    </div>
    
    <div class="cart-profile">
      <i class=""></i>
    </div>
  </div>
</div>

<div [@openCloseAnimation]="submenu ? 'open' : 'closed'"
     class="submenu">
  <div class="submenu-content">
    <ng-container [ngSwitch]="menu">
      <ng-template [ngSwitchCase]="'MacMenu'">
        <div (click)="pageChanged(mac?.router)"
             *ngFor="let mac of mecMenu"
             class="macs">
          <img
            [src]="mac.image"
            height="145"
            width="165">
          
          <div class="title">
            {{ mac.name }}
          </div>
        </div>
      </ng-template>
      
      <ng-template [ngSwitchCase]="'IphoneMenu'">
        <div (click)="pageChanged(iphone?.route)"
             *ngFor="let iphone of iphoneMenu"
             class="macs">
          <img
            [src]="iphone.image"
            height="145"
            width="165">
          
          <div class="title">
            {{ iphone.name }}
          </div>
        </div>
      </ng-template>
      
      <ng-template [ngSwitchCase]="'IpadMenu'">
        <div (click)="pageChanged(ipad?.route)"
             *ngFor="let ipad of ipadMenu"
             class="macs">
          <img
            [src]="ipad.image"
            height="145"
            width="165">
          
          <div class="title">
            {{ ipad.name }}
          </div>
        </div>
      </ng-template>
      
      <ng-template [ngSwitchCase]="'IwatchMenu'">
        <div (click)="pageChanged(iwatch?.route)"
             *ngFor="let iwatch of iwatchMenu"
             class="macs">
          <img
            [src]="iwatch.image"
            height="145"
            width="165">
          
          <div class="title">
            {{ iwatch.name }}
          </div>
        </div>
      </ng-template>

        <ng-template [ngSwitchCase]="'iMusicMenu'">
            <div (click)="pageChanged(imusic?.route)"
                 *ngFor="let imusic of iMusicMenu"
                 class="macs">
                <img
                        [src]="imusic.image"
                        height="145"
                        width="165">

                <div class="title">
                    {{ imusic.name }}
                </div>
            </div>
        </ng-template>
    </ng-container>
    
    <div (click)="submenu = false"
         class="close">
      <mat-icon>
        close
      </mat-icon>
    </div>
  </div>
</div>
