<div class="featured-container">
  <div class="featured-content">
    <div class="featured-left">
      <div class="featured-left-content">
        <p class="featured-first">iPhone 11 Pro</p>
        <p class="featured-second">Pristaje bas svima</p>
        <p class="featured-third">Sasvim sigurno, nema te boje, stila ili <br> funkcionalnosti koju novi iPhone nece
          pokriti</p>
        <div class="more">
          <p>Saznaj vise ></p>
          <p>Kupi ></p>
        </div>
      </div>
    </div>

    <div class="featured-right">
      <div class="featured-right-content">
        <p class="featured-first">Beats Studio3</p>
        <p class="featured-second">Kvalitet kojem svi zavide</p>
        <p class="featured-third">Mislili ste da savrsen kvalitet zvuka <br> zahteva skupu profesionalnu <br> studijsku
          opremu? Varate se…</p>
        <div class="more" id="beats">
          <p>Saznaj vise ></p>
          <p>Kupi ></p>
        </div>
      </div>
    </div>
  </div>
</div>
