<div class="featured-container">
  <div class="featured-content">
    
    <div *ngFor="let i of featuredItems"
         class="featured-item">
      <div [style.width]="i.name.includes('iPhone') ? '150px' : '200px'"
           class="item-pic">
        <img alt=""
             height="100%"
             src="{{i.img}}"
             width="100%">
      </div>
      <p class="item-name">
        <b>{{i.name}}</b>
      </p>
      <p class="item-price">
        {{i.price}}
      </p>
      <p class="more"><b>Detaljnije</b></p>
    </div>
  </div>
</div>
