.featured-container {
  display: flex;
  justify-content: center;

  .featured-content {
    max-width: 740px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 23px;

    .featured-item {
      display: flex;
      width: 33%;
      flex-direction: column;
      align-items: center;

      .item-pic {
        max-height: 120px;
        max-width: 120px
      }

      p {
        margin: 0;
        font-size: 14px;
        line-height: 17px;
      }

      .more {
        margin-top: 5px;
        margin-bottom: 7px;
        color: #D2A647;
        cursor: pointer
      }
    }
  }
}
