<div class="lager-heading-container">
  <div class="lager-heading-content">
    <div class="heading-text">
      <p>iComp Lager</p>
      <p>Lista proizvoda koje mozete dobiti u najkracem roku</p>
    </div>
    <button>Posaljite Email</button>
  </div>
</div>

<div class="products-container">
  <div class="products-content">
    
    <div class="iphones">
      <div class="iphone-description">
        <div class="iphone-text">
          <p>iPhone</p>
          <p>The iPhone uses a touch-screen interface that was unique upon its release. Other smart phone
             manufacturers have since added similar interfaces to their phones, but the iPhone is still the
             most common. Other smart phones offer non-touch screen interfaces for users who prefer keypad or
             button navigation.</p>
        </div>
        <div class="iphone-picture">
          <img alt=""
               class="img-fluid"
               src="../../../../assets/images/iphone/iphone11pro-green.png">
        </div>
      </div>
      
      <div class="iphone-items-list">
        <div class="item">
          <div class="picture-details">
            <img alt=""
                 class="img-fluid"
                 src="../../../../assets/images/iphone/iphone11pro-green.png">
            <div class="details">
              <p>Apple iPhone 7s</p>
              <p>Detaljnije</p>
            </div>
          </div>
          <div class="price-button">
            <p>55.000 Din</p>
            <button>Naruci</button>
          </div>
        </div>
        <div class="item">
          <div class="picture-details">
            <img alt=""
                 class="img-fluid"
                 src="../../../../assets/images/iphone/iphone11-purple.png">
            <div class="details">
              <p>Apple iPhone 7s</p>
              <p>Detaljnije</p>
            </div>
          </div>
          <div class="price-button">
            <p>55.000 Din</p>
            <button>Naruci</button>
          </div>
        </div>
      </div>
    </div>
    
    <div class="imacs"
         style="margin-top: 6px">
      <div class="imac-description">
        <div class="imac-text">
          <p>iMac</p>
          <p>The iMac uses a touch-screen interface that was unique upon its release. Other smart phone
             manufacturers have since added similar interfaces to their phones, but the iPhone is still the
             most common. Other smart phones offer non-touch screen interfaces for users who prefer keypad or
             button navigation.</p>
        </div>
        <div class="imac-picture">
          <img alt=""
               class="img-fluid"
               src="../../../../assets/images/imac/imac-27inch.png">
        </div>
      </div>
      
      <div class="imac-items-list">
        <div class="item">
          <div class="picture-details">
            <img alt=""
                 class="img-fluid"
                 src="./assets/iMac.png">
            <div class="details">
              <p>Apple iPhone 7s</p>
              <p>Detaljnije</p>
            </div>
          </div>
          <div class="price-button">
            <p>55.000 Din</p>
            <button>Naruci</button>
          </div>
        </div>
        <div class="item">
          <div class="picture-details">
            <img alt=""
                 class="img-fluid"
                 src="./assets/iMac.png">
            <div class="details">
              <p>Apple iPhone 7s</p>
              <p>Detaljnije</p>
            </div>
          </div>
          <div class="price-button">
            <p>55.000 Din</p>
            <button>Naruci</button>
          </div>
        </div>
      </div>
    </div>
  
  </div>
</div>

