<div class="product-heading-container">
  <div class="product-heading-content">

    <div class="heading-logo">
      <p>iPhone X🅁</p>
      <p>Vec od 90.000 Din</p>
    </div>

    <div class="heading-share">
      <button id="share">
        <img src="./assets/outline-share-24px.svg" alt="" class="img-fluid">
      </button>
      <button id="pdf">Izvezi u PDF</button>
    </div>

  </div>
</div>

<div class="product-container">
  <div class="product-content">

    <div class="product-details">
      <div class="product-details-top">
        <div class="top-img">
          <img src="./assets/iphone-xr-family.png" alt="" class="img-fluid">
        </div>
        <div class="top-text">
          <p>Prikazi vise slika</p>
          <div class="view-video"><img src="./assets/outline-keyboard_arrow_down-24px.svg" alt="">
            <p>Prikazi video</p></div>
          <p>Uporedi sa drugim modelom</p>
        </div>
      </div>
      <div class="product-details-bottom">
        <div class="three-items">
          <div class="bottom-item">
            <img src="./assets/box.png" alt="">
            <p>Besplatna<br>dostava na teritoriji Srbije</p>
          </div>
          <div class="bottom-item" id="middle">
            <img src="./assets/gear.png" alt="">
            <p>Besplatna<br>personalizacija proizvoda</p>
          </div>
          <div class="bottom-item">
            <img src="./assets/box1.png" alt="">
            <p>Besplatna<br>povracaj prilikom reklamiranja</p>
          </div>
        </div>

        <div class="question" style="display: flex">
          <img src="./assets/outline-message-24px.svg" alt="">
          <p>Imati li pitanje vezano za kupovinu? <br>
            <span>Kontaktiraje nasu prodaju</span>
          </p>
        </div>
      </div>
    </div>

    <div class="product-options">
      <div class="product-options-top">
        <p>Odaberite boju</p>
        <div class="colors">

          <div class="color-item">
            <div class="color-background"></div>
            <p>Bela</p>
          </div>
          <div class="color-item">
            <div class="color-background" [ngStyle]="{'background': 'black'}"></div>
            <p>Crna</p>
          </div>
          <div class="color-item">
            <div class="color-background" [ngStyle]="{'background': '#47AFE6'}"></div>
            <p>Plava</p>
          </div>
          <div class="color-item">
            <div class="color-background" [ngStyle]="{'background': '#F9CE45'}"></div>
            <p>Zuta</p>
          </div>
          <div class="color-item">
            <div class="color-background" [ngStyle]="{'background': '#FF6E5B'}"></div>
            <p>Koral</p>
          </div>
          <div class="color-item">
            <div class="color-background" [ngStyle]="{'background': '#981411'}"></div>
            <p>Product RED</p>
          </div>

        </div>
        <div class="product-red-info">
          <img src="./assets/product-red-logo.png" alt="" class="img-fluid">
          <p>Apple predstavlja iPhone XR (PRODUCT) RED Svaka kupovina ucestvuje u doniranju Globalnoj
            Fondaciji za borbu protiv AIDS</p>
        </div>
      </div>
      <div class="product-options-bottom">

        <div class="storage">
          <p>Odaberite kapacitet</p>
          <div class="capacity-buttons">
            <button>64GB</button>
            <button>128GB</button>
          </div>
          <button id="next">NASTAVI</button>
        </div>
        <div class="terms">
          <p>Klikom na dugme NASTAVI potvrdjujete da ste saglasni sa nasim Pravilima Privatnosti kao i sa Pravilima
            kupovine i povracaju novca</p>
        </div>

      </div>
    </div>

  </div>
</div>

<!--<div class="product-select-container">-->
<!--  <div class="product-select-content">-->

<!--    <div class="select-image">-->
<!--      <img src="./assets/iphone-xr-family.png" alt="" class="img-fluid">-->
<!--    </div>-->

<!--    <div class="select-color">-->
<!--      <p><b>Odaberite boju</b></p>-->
<!--      <div class="all-colors">-->

<!--        <div class="color-item">-->
<!--          <div class="color"></div>-->
<!--          <p>Color name</p>-->
<!--        </div>-->
<!--        <div class="color-item">-->
<!--          <div class="color"></div>-->
<!--          <p>Color name</p>-->
<!--        </div>-->
<!--        <div class="color-item">-->
<!--          <div class="color"></div>-->
<!--          <p>Color name</p>-->
<!--        </div>-->
<!--        <div class="color-item">-->
<!--          <div class="color"></div>-->
<!--          <p>Color name</p>-->
<!--        </div>-->
<!--        <div class="color-item">-->
<!--          <div class="color"></div>-->
<!--          <p>Color name</p>-->
<!--        </div>-->
<!--        <div class="color-item">-->
<!--          <div class="color"></div>-->
<!--          <p>Color name</p>-->
<!--        </div>-->

<!--      </div>-->
<!--    </div>-->

<!--  </div>-->
<!--</div>-->

<!--<app-newsletter-component></app-newsletter-component>-->

