::ng-deep {
  .carousel-control-next-icon {
  }
  
  carousel {
    .carousel-indicators {
      display: none;
    }
    
    .carousel-control {
      width: auto;
      
      span {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        padding: 20px;
        background-size: 50% 50%;
        box-shadow: 0px 3px 6px #00000029;
        cursor: pointer;
      }
      
      .carousel-control-next-icon {
        background-image: url("../../../../assets/arrow-right.svg");
      }
      
      .carousel-control-prev-icon {
        background-image: url("../../../../assets/arrow-left.svg");
      }
    }
  }
}

.slide-text {
  padding: 30px 0;
  
  
  .news-title {
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
    color: #707070;
  }
  
  .lead {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
    .news-heading {
      font-weight: bold;
      font-size: 25px;
      color: #707070;
    }
    
    .news-detail {
      font-size: 14px;
      line-height: 17px;
      font-weight: normal;
      max-width: 560px;
      padding-top: 15px;
      color: #7E7E7E;
    }
  }
  
  .view-more {
    font-size: 14px;
    font-weight: bold;
    padding-top: 16px;
    color: #D2A647;
  }
}

.carousel-container {
  display: flex;
  justify-content: center;
  box-shadow: 0px 3px 6px #00000029;
  position: relative;
  
  .carousel-content {
    max-width: 1100px;
    width: 100%;
  }
}
