<div class="carousel-container">
  <div class="carousel-content">
    <carousel>
      <slide>
        <div class="text-center bg-white text-dark slide-text">
          <p>Najnovije vesti1</p>
          <div class="lead">
            <p class="news-heading">Preporuke pre prelaska na Catalina macOS</p>
            <p class="news-detail">Novi macOS Catalina je stigao. Izvrsite sve potrebne provere pre nego sto instalirate
              novu verziju operating sistema. Mi amo tu da vas pomognemo oko svih detalja potrebnih za prelazak kao i da
              vam naznacimo potencijalne probleme i resenja.</p>
          </div>
          <p class="view-more">Saznaj vise</p>
        </div>
      </slide>

      <slide>
        <div class="text-center bg-white text-dark slide-text">
          <p>Najnovije vesti2</p>
          <div class="lead">
            <p class="news-heading">Preporuke pre prelaska na Mojave macOS</p>
            <p class="news-detail">Novi macOS Catalina je stigao. Izvrsite sve potrebne provere pre nego sto instalirate
              novu verziju operating sistema. Mi amo tu da vas pomognemo oko svih detalja potrebnih za prelazak kao i da
              vam naznacimo potencijalne probleme i resenja.</p>
          </div>
          <p class="view-more">Saznaj vise</p>
        </div>
      </slide>

      <slide>
        <div class="text-center bg-white text-dark slide-text">
          <p>Najnovije vesti3</p>
          <div class="lead">
            <p class="news-heading">Preporuke pre prelaska na High Sierra macOS</p>
            <p class="news-detail">Novi macOS Catalina je stigao. Izvrsite sve potrebne provere pre nego sto instalirate
              novu verziju operating sistema. Mi amo tu da vas pomognemo oko svih detalja potrebnih za prelazak kao i da
              vam naznacimo potencijalne probleme i resenja.</p>
          </div>
          <p class="view-more">Saznaj vise</p>
        </div>
      </slide>
    </carousel>

  </div>
</div>


