.contact-container {
  display: flex;
  justify-content: center;
  
  .contact-content {
    display: flex;
    flex-direction: column;
    max-width: 1100px;
    width: 100%;
    
    .contact-heading {
      display: flex;
      justify-content: space-between;
      margin: 40px 0;
      
      .contact-heading-logo {
        display: flex;
        
        .logo-text {
          display: flex;
          flex-direction: column;
          
          p {
            margin: 0;
            font-size: 14px;
            line-height: 17px;
            
            &:first-of-type {
              font-size: 25px;
              line-height: 28px;
              font-weight: bold;
            }
          }
        }
      }
      
      button#send-mail {
        border: 1px solid #D2A647;
        height: 45px;
        width: 125px;
        font-weight: bold;
        font-size: 14px;
        color: #D2A647;
      }
    }
    
    .contact-questions {
      margin: 5px 0 40px 0;
      display: flex;
      flex-direction: column;
      
      p {
        font-size: 18px;
        margin: 0;
      }
      
      .questions-text {
        display: flex;
        justify-content: space-between;
        
        p.heading {
          margin: 20px 0;
          font-weight: bold;
        }
        
        p {
          font-size: 14px;
          margin: 0;
        }
        
        .questions-left {
          display: flex;
          flex-direction: column;
          width: 363px;
        }
        
        .questions-right {
          display: flex;
          flex-direction: column;
          width: 363px;
          
          .zahtev {
            margin-top: 20px;
            
            p {
              color: #D2A647;
              margin: 0;
              cursor: pointer;
              
              &:hover {
                text-decoration: underline #D2A647;
              }
            }
          }
        }
      }
    }
    
  }
}


.map-container {
  display: flex;
  
  .address {
    display: flex;
    justify-content: flex-end;
    flex: 1;
    background: #F4F4F4;
    
    .address-content {
      max-width: 370px;
      width: 100%;
      display: flex;
      flex-direction: column;
      margin: 40px 0;
      
      p {
        margin: 0;
        font-size: 14px;
        
        &:first-of-type {
          margin-bottom: 20px;
        }
      }
    }
  }
  
  .map {
    flex: 1;
    background: #f4f4f4;
  }
}

.faq-container {
  display: flex;
  justify-content: center;
  
  .faq-content {
    display: flex;
    max-width: 1100px;
    width: 100%;
    flex-direction: column;
    margin: 40px 0;
    
    .faq-heading {
      display: flex;
      justify-content: center;
      
      p {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 20px;
      }
    }
    
    .faq-questions {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      
      .faq-top {
        justify-content: space-between;
        width: 100%;
        display: flex;
        
        .faq-item {
          display: flex;
          flex-direction: column;
          width: 100%;
          max-width: 363px;
          
          p {
            font-size: 14px;
            margin: 0;
          }
          
          .heading {
            color: #D2A647;
            margin: 20px 0;
            font-weight: bold;
          }
        }
      }
      
      .faq-bottom {
        justify-content: space-between;
        width: 100%;
        display: flex;
        
        .faq-item {
          display: flex;
          flex-direction: column;
          width: 100%;
          max-width: 363px;
          
          p {
            font-size: 14px;
            margin: 0;
          }
          
          .heading {
            color: #D2A647;
            margin: 20px 0;
            font-weight: bold;
          }
        }
      }
    }
  }
}
