<div class="contact-container">
  <div class="contact-content">

    <div class="contact-heading">

      <div class="contact-heading-logo">
        <img class="img-fluid" src="./assets/outline-security-24px.svg" alt="">
        <div class="logo-text">
          <p>iComp Kontakt</p>
          <p>Legal Information & Notices</p>
        </div>
      </div>
      <button id="send-mail">Posalje Email</button>
    </div>


    <div class="contact-questions">
      <p><b>Pitanja o proizvodima i prodaji</b></p>
      <div class="questions-text">
        <div class="questions-left">
          <p class="heading">Online katalog</p>
          <p>iComp is a convenient place to purchase Apple products and accessories from Apple and other manufacturers.
            You can buy online, chat, or call (381) 60 800–692–77, 7 days a week from 9:00 a.m. to 18:00 p.m. Central
            time. You can get information about an order you placed on the iComp Online Catalog through the Order Status
            page. If you prefer, you can also get order status or make changes by phone at (381) 60 800–692–77, 7 days a
            week from 9:00 a.m. to 17:00 p.m. Central time.</p>

          <p class="heading">Online podrska</p>
          <p>Before reaching us you can check our iComp Self Service Portal which might help you solve issue or answer
            your questions about your product faster.</p>
        </div>

        <div class="questions-right">
          <p class="heading">Kupovina za pravna lica</p>
          <p>If you are a business or professional user, visit the iComp Online Catalog, find products that you want and
            place an order via our portal with business form or call (381) 60 800–692–77, 7 days a week from 9:00 a.m.
            to 18:00 p.m. Central time.</p>

          <p class="heading">Servis i podrska</p>
          <p>If you are a business or professional user, visit the iComp Online Catalog, find products that you want and
            place an order via our portal with business form or call (381) 60 800–692–77, 7 days a week from 9:00 a.m.
            to 18:00 p.m. Central time.</p>

          <div class="zahtev">
            <p>- Podnesite zahtev za service online</p>
            <p>- Proverite status vaseg uredjaja online</p>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>

<div class="map-container">
  <div class="address">
    <div class="address-content">
      <p><b>Adresa i kontakt</b></p>
      <p>iComp d.o.o.</p>
      <p>Adresa</p>
      <p>ZIP Mesto</p>
      <p>Serbia</p>
      <p>(381) 60 800–692–77</p>
    </div>
  </div>
  <div class="map">
    <app-agmap-component></app-agmap-component>
  </div>
</div>

<div class="faq-container">
  <div class="faq-content">
    <div class="faq-heading">
      <p>Cesto postavljana pitanja</p>
    </div>
    <div class="faq-questions">
      <div class="faq-top">
        <div class="faq-item">
          <p class="heading">Apple ID u Srbiji</p>
          <p>Learn more about getting an Apple ID and its benefits for customers in Serbia as well as configure purcache
            information for iTunes and App Store</p>
        </div>

        <div class="faq-item">
          <p class="heading">Status servisa</p>
          <p>Quickly and easily get the status of one or all of your repairs.</p>
        </div>

      </div>
      <div class="faq-bottom">
        <div class="faq-item">
          <p class="heading">Apple Care proizvodi</p>
          <p>Find out how to get additional technical support and hardware service options for your Apple products.</p>
        </div>
        <div class="faq-item">
          <p class="heading">Servis i podrska</p>
          <p>See all your repair and service options based on your product and location.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<app-newsletter-component></app-newsletter-component>

