.service-heading-container {
  display: flex;
  justify-content: center;
  background-image: url("../../../../assets/service-background.png");
  height: 120px;
  align-items: center;
  background-position-x: center;
  background-size: cover;

  .service-heading-content {
    max-width: 740px;
    width: 100%;

    .service-logo {
      display: flex;
      align-items: center;
      mix-blend-mode: multiply;

      img {
        height: 45px;
      }

      .logo-text {
        display: flex;
        flex-direction: column;
        margin-left: 10px;

        p {
          font-size: 14px;
          line-height: 17px;
          margin: 0;

          &:first-of-type {
            font-size: 24px;
            font-weight: bold;
            line-height: 28px;
          }
        }
      }
    }
  }
}

.service-banner {
  display: flex;
  justify-content: center;

  .banner-content {
    max-width: 740px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;

    .banner-text {
      display: flex;
      flex-direction: column;

      p {
        font-size: 14px;
        margin: 0;
        font-weight: bold;
      }
    }

    .banner-logo {
      img {
        height: 33px;
      }
    }
  }
}

.service-info-container {
  display: flex;
  justify-content: center;

  .service-info-content {
    max-width: 740px;
    width: 100%;
    display: flex;
    font-size: 14px;
    margin: 40px 0;
    justify-content: space-between;

    .info-left {
      display: flex;
      flex-direction: column;
      max-width: 250px;
      width: 100%;
      justify-content: space-between;

      .info-left-question {
        display: flex;

        .question-text {
          display: flex;
          flex-direction: column;
          margin-left: 10px;

          p {
            margin: 0;
            font-size: 13px;

            &:last-of-type {
              color: #D2A647;
            }
          }
        }
      }
    }

    .info-right {
      max-width: 426px;
      width: 100%;

      p {
        margin: 0;
      }

      .heading {
        margin: 20px 0;
        font-weight: bold;
      }
    }
  }
}


.apple-care-container {
  display: flex;
  justify-content: center;

  .apple-care-content {
    max-width: 740px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .care-devices {
      max-width: 400px;
      text-align: center;
      font-size: 14px;

      p {
        margin: 0;
      }

      img {
        margin: 28px 0 20px 0;
      }
    }

    .care-description {
      display: flex;
      width: 100%;
      justify-content: space-between;
      padding: 40px 0;

      .description-left {
        display: flex;
        justify-content: space-between;
        max-width: 363px;
        width: 100%;

        .left-text {
          display: flex;
          flex-direction: column;
          max-width: 237px;
          width: 100%;

          p {
            margin: 0;
            font-size: 14px;
            line-height: 17px;

            &:first-of-type {
              margin-bottom: 10px;
            }
          }
        }

        .left-image {
          width: 111px;
        }
      }

      .description-right {
        max-width: 363px;
        width: 100%;

        p {
          margin: 0;
          font-size: 14px;
          line-height: 17px;

          &:first-of-type {
            margin-bottom: 10px;
          }
        }
      }
    }

    .care-buttons {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;

      button {
        max-width: 363px;
        width: 100%;
        height: 32px;
        background: #D2A647 0% 0% no-repeat padding-box;
        border: 1px solid #D2A647;
        font-size: 14px;
        color: white;
        cursor: pointer;
        outline: none;
      }

      p {
        margin: 20px 0;
        color: #D2A647;
        font-size: 14px;
        cursor: pointer;
      }
    }
  }
}
