<div class="service-heading-container">
  <div class="service-heading-content">
    <div class="service-logo">
      <img class="img-fluid" src="./assets/service-logo.png" alt="">
      <div class="logo-text">
        <p>iComp Servis</p>
        <p>Ovlasceni serviser</p>
      </div>
    </div>
  </div>
</div>

<div class="service-banner">
  <div class="banner-content">
    <div class="banner-text">
      <p>Radi kao sto je i dizajnirano</p>
      <p>Svaki proizvod treba da bude savrsen</p>
    </div>
    <div class="banner-logo">
      <img src="./assets/apple-banner.png" alt="" class="img-fluid">
    </div>
  </div>
</div>

<div class="service-info-container">
  <div class="service-info-content">
    <div class="info-left">
      <div class="info-left-image">
        <img class="img-fluid" src="./assets/service-image.png" alt="">
      </div>
      <div class="info-left-question">
        <img class="img-fluid" src="./assets/outline-message-24px.svg" alt="">
        <div class="question-text">
          <p>Imati li pitanje vezano za servis?</p>
          <p>Kontaktiraje nasu podrsku</p>
        </div>
      </div>
    </div>
    <div class="info-right">
      <p>If your Apple device needs repairs, you can go to an iComp Store or mail in your device. Whatever you choose,
        we’ll make sure your device works the way it should.</p>
      <p class="heading">Cuvajte se falsifikata</p>
      <p>Some counterfeit and third party power adapters and batteries may not be designed properly and could result in
        safety issues. To ensure you receive a genuine Apple battery during a battery replacement, we recommend visiting
        an iComp Store Authorized Service Provider. If you need a replacement adapter to charge your Apple device, we
        recommend getting an Apple power adapter. <br><br> Also non-genuine replacement displays may have compromised
        visual
        quality and may fail to work correctly. Apple-certified screen repairs are performed by trusted experts who use
        genuine Apple parts.</p>
    </div>
  </div>
</div>

<div class="apple-care-container">
  <div class="apple-care-content">

    <div class="care-devices">
      <p><b>Odaberite uredjaj kojem je potreban servis</b></p>
      <img class="img-fluid" src="./assets/service-devices.png" alt="">
      <p>Klikni na uredjaj kaka bi saznali sta sve ulazi u vasu garanciju i sta nas servis mode da pokrije</p>
    </div>

    <div class="care-description">
      <div class="description-left">
        <div class="left-text">
          <p><b>Saznajte vise o vasoj<br>garanciji Apple uredjaja</b></p>
          <p>AppleCare products give you additional repair coverage and technical support. If you already bought an
            AppleCare product, you can manage it online.</p>
        </div>
        <div class="left-image">
          <img class="img-fluid" src="./assets/apple-care.png" alt="">
        </div>
      </div>
      <div class="description-right">
        <p><b>Tu smo da pomognemo i popravimo</b></p>
        <p>We’re here to help. Apple-certified repairs are performed by trusted experts who use genuine Apple parts. And
          only Apple-certified repairs are backed by Apple. Start your repair request now or scroll to learn more about
          Apple repair options.</p>
      </div>
    </div>

    <div class="care-buttons">
      <button>Podnesi zahtev za servis</button>
      <p>Proveri status smog uredjaja u servisu</p>
    </div>

  </div>
</div>

<app-newsletter-component></app-newsletter-component>
