<div class="baner-pro-container">
  <div class="baner-pro-content">
    <p id="profesional">Pro za Profesionalca</p>
    <p>Svaki profesionalac zasluzuje najbolje. Mi smo tu da vam pomognemo i dostavimo konfiguraciju unikatnu i
      specijalno konfigurisanu samo za vase potrebe!</p>
    <p class="view-more">Saznaj vise ></p>
  </div>
</div>

<div class="iphone-pro-container">
  <div class="iphone-pro-content">

    <div class="iphone-pro-picture">
      <img class="img-fluid" src="./assets/iphone11-pro.png" alt="">
    </div>

    <div class="iphone-pro-text">
      <p id="pro">iPhone 11 Pro</p>
      <p id="hollywood">Hollywood studio na dlanu</p>
      <p>Bolje nego ikada, nova kamera iPhone 11 omogucuje vam pravi Hollywood kvalitet…</p>
      <div class="more" style="display: flex">
        <p class="view-more">Saznaj vise ></p>
        <p class="view-more">Saznaj vise ></p>
      </div>
    </div>

  </div>
</div>
<app-apple-banner></app-apple-banner>
<app-featured-double></app-featured-double>
<app-info-carousel-component></app-info-carousel-component>
<app-featured-component></app-featured-component>
<app-arcade-component></app-arcade-component>
<app-newsletter-component></app-newsletter-component>


