<div *ngIf="productItem?.productConfig"
     class="custom-config">
  <div *ngIf="productItem?.productConfig.colorConfig"
       class="color-config mt-2">
    <div (click)="onClick(color)"
         *ngFor="let color of productItem?.productConfig.colorConfig; let i = index;"
         [class.color-item--selected]="this.selectedColor === productItem.productConfig.colorConfig[i].colorName"
         class="color-item">
      <div [style.background]="color?.value"
           class="color-background"></div>
      <p> {{ color.colorName }}</p>
    </div>
  
  </div>

  <div *ngIf="productItem?.productConfig?.screenSizeConfig"
       class="cpu-config d-flex flex-column mt-2">
    <p><b>Ekran</b></p>
    <div
         *ngFor="let screen of productItem.productConfig.screenSizeConfig"

         class="other-info-item d-flex flex-row justify-content-between cursor-pointer"
    >
      <p class="d-flex"><b>{{screen.name}}</b></p>
      <p class="d-flex"><b>+ {{getNumberWithDot(screen.price)}} RSD</b></p>
    </div>
  </div>
  
  <div *ngIf="productItem?.productConfig.cpuConfig"
       class="cpu-config d-flex flex-column mt-2">
    <p><b>Procesor</b></p>
    <div (click)="passValue(c,'cpu')"
         *ngFor="let c of productItem.productConfig.cpuConfig"
         [ngClass]="{ 'other-info-selected': c.name === selectedCpu }"
         class="other-info-item d-flex flex-row justify-content-between cursor-pointer"
    >
      <p class="d-flex"><b>{{c.name}}</b></p>
      <p class="d-flex"><b>+ {{getNumberWithDot(c.price)}} RSD</b></p>
    </div>
  </div>
  
  <div *ngIf="productItem?.productConfig?.ramConfig"
       class="ram-config d-flex flex-column mt-2">
    <p><b>Memorija</b></p>
    <div (click)="passValue(r,'ram')"
         *ngFor="let r of productItem?.productConfig?.ramConfig; let i = index;"
         [ngClass]="{ 'other-info-selected': r.name === selectedMemory }"
         class="other-info-item d-flex flex-row justify-content-between cursor-pointer"
    >
      <p><b>{{r.name}}</b></p>
      <p><b>+ {{getNumberWithDot(r.price)}} RSD</b></p>
    </div>
  </div>
  
  <div *ngIf="productItem?.productConfig.storageConfig"
       class="cpu-config d-flex flex-column mt-2">
    <p><b>Prostor</b></p>
    <div (click)="passValue(c,'storage')"
         *ngFor="let c of productItem?.productConfig?.storageConfig"
         [ngClass]="{ 'other-info-selected': c.name === selectedStorage }"
         class="other-info-item d-flex flex-row justify-content-between cursor-pointer"
    >
      <p class="d-flex"><b>{{c.name}}</b></p>
      <p class="d-flex"><b>+ {{getNumberWithDot(c.price)}} RSD</b></p>
    </div>
  </div>
  
  <div *ngIf="productItem?.productConfig?.mouseConfig"
       class="mouse-config d-flex flex-column mt-2">
    <p><b>Mis ili trackpad</b></p>
    <div (click)="passValue(r,'mouse')"
         *ngFor="let r of productItem?.productConfig?.mouseConfig"
         [ngClass]="{ 'other-info-selected': r.name === selectedMouse }"
         class="other-info-item d-flex flex-row justify-content-between cursor-pointer">
      <p><b>{{r.name}}</b></p>
      <p><b>+ {{getNumberWithDot(r.price)}} RSD</b></p>
    </div>
  </div>
  <div *ngIf="productItem?.productConfig.keyboardConfig"
       class="keyboard-config d-flex flex-column mt-2">
    <p><b>Tastatura</b></p>
    <div (click)="passValue(r,'keyboard')"
         *ngFor="let r of productItem?.productConfig.keyboardConfig"
         [ngClass]="{ 'other-info-selected': r.name === selectedKeyboard }"
         class="other-info-item d-flex flex-row justify-content-between cursor-pointer">
      <p><b>{{r.name}}</b></p>
      <p><b>+ {{getNumberWithDot(r.price)}} RSD</b></p>
    </div>
  </div>
</div>
