<div class="privacy-heading-container">
  <div class="privacy-heading-content">
    <div class="heading-left">
      <img src="./assets/outline-security-24px.svg" alt="">
      <div class="heading-text">
        <p>iComp Website Terms of Use</p>
        <p>Legal Information & Notices</p>
      </div>
    </div>
    <div class="heading-button">Izvezi u PDF</div>
  </div>
</div>


<div class="privacy-container">
  <div class="privacy-content">

    <div class="ownership">
      <p><b>Ownership of Site <br>Agreement to Terms of Use</b></p>
      <div class="ownership-text">

        <p>These Terms and Conditions of Use (the “Terms of Use”) apply to the iComp web site located at www.icomp.com,
          and all associated sites linked to www.icomp.com by iComp, its subsidiaries and affiliates, including iComp
          sites around the world (collectively, the “Site”). The Site is the property of iComp d.o.o. (“iComp”) and its
          licensors. <br><br>
          BY USING THE SITE, YOU AGREE TO THESE TERMS OF USE. <br> IF YOU DO NOT AGREE, DO NOT USE THE SITE. <br><br>
          iComp reserves the right, at its sole discretion, to change, modify, add or remove portions of these Terms of
          Use, at any time. It is your responsibility to check these Terms of Use periodically for changes. Your
          continued
          use of
          the Site following the posting of changes will mean that you accept and agree to the changes. As long as you
          comply with these Terms of Use, iComp grants you a personal, non-exclusive, non-transferable, limited
          privilege
          to enter and use the Site.
        </p>

      </div>
    </div>

    <div class="content-privacy">
      <div class="content">
        <p class="content-heading">Content</p>
        <div class="content-text">
          <p>All text, graphics, user interfaces, visual interfaces, photographs, trademarks, logos, sounds, music,
            artwork
            and computer code (collectively, “Content”), including but not limited to the design, structure, selection,
            coordination, expression, “look and feel” and arrangement of such Content, contained on the Site is owned,
            controlled or licensed by or to iComp, and is protected by trade dress, copyright, patent and trademark
            laws,
            and various other intellectual property rights and unfair competition laws. <br><br> Except as expressly
            provided in
            these Terms of Use, no part of the Site and no Content may be copied, reproduced, republished, uploaded,
            posted, publicly displayed, encoded, translated, transmitted or distributed in any way (including
            “mirroring”)
            to any other computer, server, Web site or other medium for publication or distribution or for any
            commercial
            enterprise, without iComp’s express prior written consent. <br><br> You may use information on iComp
            products and
            services (such as data sheets, knowledge base articles, and similar materials) purposely made available by
            iComp for downloading from the Site, provided that you (1) not remove any proprietary notice language in all
            copies of such documents, (2) use such information only for your personal, non-commercial informational
            purpose and do not copy or post such information on any networked computer or broadcast it in any media, (3)
            make no modifications to any such information, and (4) not make any additional representations or warranties
            relating to such documents.</p>
        </div>
      </div>
      <div class="privacy">
        <p class="privacy-heading">Privacy</p>
        <div class="privacy-text">
          <p>iComp’s Privacy Policy applies to use of this Site, and its terms are made a part of these Terms of Use by
            this reference. To view iComp’s Privacy Policy, click here. Additionally, by using the Site, you acknowledge
            and agree that Internet transmissions are never completely private or secure. You understand that any
            message or information you send to the Site may be read or intercepted by others, even if there is a special
            notice that a particular transmission (for example, credit card information) is encrypted.</p>
        </div>
        <div class="privacy-img">
          <img src="./assets/privacy-image.svg" alt="" class="img-fluid">
        </div>
      </div>
    </div>

    <div class="feedback">
      <p><b>Feedback and Information</b></p>
      <div class="feedback-text">
        <p>
          Any feedback you provide at this site shall be deemed to be non-confidential. iComp shall be free to use such
          information on an unrestricted basis. <br><br>
          The information contained in this web site is subject to change without
          notice. Copyright © 2019-2020 iComp d.o.o. All rights reserved. iComp d.o.o., Address line, City, State ZIP,
          Serbia. <br><br>
          Updated by The iComp Legal Team on Jan. 5, 2020
        </p>
      </div>
    </div>

  </div>
</div>
