.privacy-heading-container {
  display: flex;
  justify-content: center;

  .privacy-heading-content {
    margin: 40px 0;
    max-width: 740px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .heading-left {
      display: flex;

      img {
        height: 45px;
        width: 45px;
      }

      .heading-text {
        display: flex;
        flex-direction: column;
        margin-left: 10px;

        p {
          margin: 0;
          font-size: 14px;
          font-weight: 500;
          line-height: 17px;

          &:first-of-type {
            font-size: 24px;
            line-height: 28px;
            font-weight: bold;
          }
        }
      }
    }

    .heading-button {
      display: flex;
      align-items: center;
      height: 45px;
      color: #D2A647;
      font-size: 14px;
      font-weight: bold;
      padding: 13px;
      border: 1px solid #D2A647;
      cursor: pointer;
    }
  }
}


.privacy-container {
  display: flex;
  justify-content: center;

  .privacy-content {
    display: flex;
    flex-direction: column;
    max-width: 740px;
    width: 100%;
    margin-bottom: 40px;

    .ownership {
      display: flex;
      flex-direction: column;
      font-size: 14px;
      line-height: 17px;

      .ownership-text {
        margin-top: 20px;
      }
    }

    .content-privacy {
      display: flex;
      justify-content: space-between;
      font-size: 14px;
      margin-top: 20px;

      p {
        line-height: 17px;
      }

      .content {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 363px;

        &-heading {
          font-weight: bold;
          margin-bottom: 20px;
        }
      }

      .privacy {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 363px;

        &-heading {
          font-weight: bold;
          margin-bottom: 20px;
        }

        &-img {
          flex: 1;
          justify-content: center;
          align-items: center;
          display: flex;
        }
      }
    }

    .feedback {
      display: flex;
      flex-direction: column;
      font-size: 14px;
      margin-top: 20px;

      .feedback-text {
        margin-top: 20px;
      }
    }
  }
}
