<div class="footer-container">
  <div class="footer-content">
    <div class="footer-menu">
      <div class="footer-menu-item">
        <p class="footer-menu-heading">Kategorije proizvoda</p>
        <p>Mac</p>
        <p>iPad</p>
        <p>iPhone</p>
        <p>Apple Watch</p>
        <p>Oprema</p>
      </div>
      <div class="footer-menu-item">
        <p class="footer-menu-heading">Servis</p>
        <p>Odrzavanje</p>
        <p>Popravka</p>
        <p>Garancija</p>
        <p>Uslovi</p>
      </div>
      <div class="footer-menu-item">
        <p class="footer-menu-heading">Novosti</p>
        <p>Promocije</p>
        <p>Unboxing</p>
        <p>Review</p>
        <p>Blog</p>
      </div>
      <div class="footer-menu-item">
        <p class="footer-menu-heading">iComp</p>
        <p>O nama</p>
        <p>Kontakt</p>
        <p>Pravila privatnosti</p>
        <p>Pravila i uslovi koriscenja</p>
        <p>Uslovi kupovine</p>
        <p>Mapa sajta</p>
      </div>
    </div>
    <div class="footer-copyrights">
      <p>
        Copyright © 2019 Apple Inc. <br> All rights reserved.
      </p>
      <div class="jezik">
        <a href="">Srpski<img src="/assets/srpski.png" alt=""></a>
      </div>
    </div>
  </div>
</div>
