<div class="container-fluid">
  <div class="container mt-5">
    <div class="row">
      <div class="col-12 d-flex item-detail justify-content-between">
        <div class="col-6 d-flex align-items-start justify-content-center item-detail-image">
          <div class="item-detail-image-sticky sticky-top"
               style="z-index: 1">
            <div class="product-details">

                <div *ngIf="reloaded"
                   class="product-details-top">
                <div class="magic"
                     style="position: relative;
                     text-align: center;">
                  <a [href]="productItem.images[0]"
                     class="MagicZoom"
                     data-mobile-options="zoomMode: magnifier;"
                     data-options=""
                     id="product">
                    <img [src]="productItem.images[0]">
                  </a>
                </div>
                <div class="MagicScroll"
                     data-options="orientation:horizontal;
                                     items:4;
                                     height:110;
                                     width:430;
                                     lazyLoad: false;
                                     step:1;
                                     mode: animation;
                                     scrollOnWheel: true;
                                     autostart: false;
                                     keyboard: true;arrows:outside;"
                >
                  <a *ngFor="let p of productImages"
                     [attr.data-image]="p"
                     [href]="p"
                     data-zoom-id="product">
                    <img [src]="p"
                         alt=""/>
                  </a>
                </div>
              </div>

              <div class="product-details-bottom">
                <div class="three-items">
                  <div class="bottom-item">
                    <img alt=""
                         src="./assets/box.png">
                    <p>Besplatna<br>dostava na teritoriji Srbije</p>
                  </div>
                  <div class="bottom-item"
                       id="middle">
                    <img alt=""
                         src="./assets/gear.png">
                    <p>Besplatna<br>personalizacija proizvoda</p>
                  </div>
                  <div class="bottom-item">
                    <img alt=""
                         src="./assets/box1.png">
                    <p>Besplatan<br>povracaj prilikom reklamiranja</p>
                  </div>
                </div>
                
                <div class="question"
                     style="display: flex">
                  <img alt=""
                       src="./assets/outline-message-24px.svg">
                  <p>Imati li pitanje vezano za kupovinu? <br>
                    <span routerLink="/service">Kontaktiraje nasu prodaju</span>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-5 d-flex flex-column item-detail-info">
          
          <app-item-detail-specs [productItem]="productItem"></app-item-detail-specs>
          
          <button (click)="addToCard()"
                  class="cart-button w-100 mt-2"><b>DODAJ U KORPU</b></button>
          <app-item-detail-config [productItem]="productItem"></app-item-detail-config>
          <div class="other-info d-flex flex-column my-3">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
