<div class="d-flex flex-column">
  <h3 class="mb-2">{{productItem.name}}</h3>
  <h4 class="mb-2" id="skroler"><b>{{getNumberWithDot(productItem.price)}} RSD</b></h4>
  <p class="mb-2"><b>Izabrana konfiguracija</b></p>
  <p>{{productItem?.display}}</p>
  <p>{{productItem?.cpu}}</p>
  <p>{{productItem?.cpuTurbo}}</p>
  <p>{{productItem?.ram}}</p>
  <p>{{productItem?.storage}}</p>
  <p>{{productItem?.gpu}}</p>
  <p>{{productItem.other}}</p>
  <!--    <button class="cart-button w-100 mt-2" (click)="addToCard()"><b>DODAJ U KORPU</b></button>-->
</div>
