/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/scss/bootstrap';

body,* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Lato,sans-serif;
  outline: none;
}
p{
  padding: 0;
  margin: 0;
}
button{
  outline: none!important;
}

.cart-button {
  background-color: #d2a647 !important;
  height: 40px;
  color: white;
  border: none;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    box-shadow: 0 4px 8px -2px #d2a647;
    transition: 0.3s;
  }
}

.warn-snack-bar {
  .mat-button-base {
    color: #C79E44;
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
